In [3]:
import pandas as pd
mel_file_path = '/Users/xiaolongl/Downloads/melb_data.csv'
mel_data = pd.read_csv(mel_file_path)
mel_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
mel_data = mel_data.dropna(axis = 0)

In [5]:
mel_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
y = mel_data.Price

In [7]:
mel_features1 = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [8]:
mel_features2 = ['Rooms', 'Bathroom', 'Landsize', 'YearBuilt']

In [9]:
X = mel_data[mel_features1]

In [10]:
Y = mel_data[mel_features2]

In [11]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [12]:
Y.describe()

             Rooms     Bathroom      Landsize    YearBuilt
count  6196.000000  6196.000000   6196.000000  6196.000000
mean      2.931407     1.576340    471.006940  1964.081988
std       0.971079     0.711362    897.449881    38.105673
min       1.000000     1.000000      0.000000  1196.000000
25%       2.000000     1.000000    152.000000  1940.000000
50%       3.000000     1.000000    373.000000  1970.000000
75%       4.000000     2.000000    628.000000  2000.000000
max       8.000000     8.000000  37000.000000  2018.000000

In [13]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [16]:
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [17]:
Y

       Rooms  Bathroom  Landsize  YearBuilt
1          2       1.0     156.0     1900.0
2          3       2.0     134.0     1900.0
4          4       1.0     120.0     2014.0
6          3       2.0     245.0     1910.0
7          2       1.0     256.0     1890.0
...      ...       ...       ...        ...
12205      3       2.0     972.0     1996.0
12206      3       1.0     179.0     1890.0
12207      1       1.0       0.0     1967.0
12209      2       1.0       0.0     2012.0
12212      6       3.0    1087.0     1920.0

[6196 rows x 4 columns]

In [18]:
from sklearn.tree import DecisionTreeRegressor
#Define model 
mel_model = DecisionTreeRegressor(random_state = 1)
#Fit model: Capture patterns from provided data
mel_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [21]:
print("Making prediction for following random 5 houses:")
print(X.head())
print("The predictions are: ")
print(mel_model.predict(X.head()))

Making prediction for following random 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [23]:
from sklearn.tree import DecisionTreeRegressor
#Define model 
mel_model = DecisionTreeRegressor(random_state = 1)
#Fit model: Capture patterns from provided data
mel_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [25]:
print("Done")

Done